# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:BrainyZombie=false
    B:CaveSpider=false
    B:Creeper=false
    B:CultistCleric=false
    B:CultistKnight=false
    B:CultistLeader=false
    B:CultistPortalGreater=false
    B:CultistPortalLesser=false
    B:ElderGuardian=false
    B:EldritchCrab=false
    B:EldritchGolem=false
    B:EldritchGuardian=false
    B:EldritchWarden=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Firebat=false
    B:Ghast=false
    B:Giant=false
    B:GiantBrainyZombie=false
    B:Guardian=false
    B:Husk=false
    B:IllusionIllager=false
    B:InhabitedZombie=false
    B:LavaSlime=false
    B:MindSpider=false
    B:Pech=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spellbat=false
    B:Spider=true
    B:Stray=false
    B:TaintCrawler=false
    B:TaintSeed=false
    B:TaintSeedPrime=false
    B:TaintSwarm=false
    B:Taintacle=false
    B:TaintacleGiant=false
    B:TaintacleTiny=false
    B:ThaumSlime=false
    B:Vex=false
    B:VindicationIllager=false
    B:Wisp=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=false
    B:Zombie=true
    B:ZombieVillager=false
    B:"ebwizardry:blaze_minion"=false
    B:"ebwizardry:evil_wizard"=false
    B:"ebwizardry:ice_wraith"=false
    B:"ebwizardry:lightning_wraith"=false
    B:"ebwizardry:magic_slime"=false
    B:"ebwizardry:silverfish_minion"=false
    B:"ebwizardry:skeleton_minion"=false
    B:"ebwizardry:spider_minion"=false
    B:"ebwizardry:wither_skeleton_minion"=false
    B:"ebwizardry:zombie_minion"=false
    B:freeze=false
    B:gargoyle_evil=false
    B:nitrocreeper=false
    B:pink_slime=false
    B:tconstruct.blueslime=false
    B:thebetweenlands.angler=false
    B:thebetweenlands.blood_snail=false
    B:thebetweenlands.chiromaw=false
    B:thebetweenlands.dark_druid=false
    B:thebetweenlands.dreadful_mummy=true
    B:thebetweenlands.fortress_boss=false
    B:thebetweenlands.fortress_boss_blockade=false
    B:thebetweenlands.fortress_boss_spawner=false
    B:thebetweenlands.fortress_boss_turret=false
    B:thebetweenlands.gas_cloud=false
    B:thebetweenlands.leech=false
    B:thebetweenlands.lurker=false
    B:thebetweenlands.peat_mummy=false
    B:thebetweenlands.pyrad=false
    B:thebetweenlands.silt_crab=false
    B:thebetweenlands.sludge=false
    B:thebetweenlands.smoll_sludge=false
    B:thebetweenlands.swamp_hag=false
    B:thebetweenlands.tar_beast=false
    B:thebetweenlands.termite=false
    B:thebetweenlands.wight=true
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:"totemic:baykok"=false
}


